html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Merriweather, serif;
}

header {
  background-color: #d05c2e;
  text-align: center;
  padding-top: 0.75em;
}

.icon {
  float: left;
  width: 50px;
}

h1 {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  margin: 0em 0em 0.75em 0em;
  text-align: center;
}

.icon2 {
  float: right;
  width: 50px;
}

ol {
  display: block;
  font-size: 1.1em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  background-color: #d05c2e;
  border: 1px solid #a93f35;
  padding: 0.5em;
  float: left;
  margin-bottom: .75em;
}

nav li:hover {
  background-color: #a93f35;
}

a {
  color: #fff;
  text-decoration: none;
}

.intro {
  width: calc(100% / 3);
  padding-right: 0;
}

.legumes {
  width: calc(100% / 3);
}

.cereals {
  width: calc(100% / 3);
  border-left: 0;
  border-right: 0;
}

.p {
  margin: 0em 0.75em 0em 0.75em;
}

.grains {
  float: left;
  width: 40%;
  margin-right: 0.5em;
  border: 1px solid #aaa;
}

.cereals-image {
  float: right;
  width: 40%;
  border: 1px solid #aaa;
  margin: 0em 0em 0.75em 0.75em;
}

.quinoa {
  float: right;
  width: 40%;
  border: 1px solid #aaa;
  clear: right;
  margin: 0em 0em 0.75em 0.75em;
}

p {
  line-height: 1.5em;
}

h2 {
  text-align: center;
  border-top: 1px solid #d05c2e;
  padding: 1em;
  margin: 0;
}

.famous-cereals-header {
  background-color: #dc8252;
  color: #fff;
  clear: right;
}

.figure {
  margin: 0;
}

.famous-c-image {
  width: 100%;
}

.famous-cereals {
  background-color: #dc8252;
  text-align: center;
  color: #fff;
  font-style: italic;
  font-size: 0.75em;
  overflow: hidden;
}

figcaption {
  padding-bottom: 1em;
}

.rice {
  float: left;
  width: 50%;
}

.oats {
  float: right;
  width: 50%;
}

.famous-legumes {
  float: left;
  width: 30%;
  margin: 0em 0.75em 1.5em 0em;
  border: 1px solid #aaa;
}

.legumes-figure {
  margin: .75em;
}

.clear {
  clear: left;
}

.peanuts {
  margin-top: 0.25em;
}

span {
  font-size: .8em;
  font-style: italic;
}

footer {
  background-color: #d05c2e;
  margin-top: 2em;
  padding: 1.5em;
  text-align: center;
  font-size: 0.75em;
  color: #dfa998;
  clear: left;
}
